<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <!--<img src="../../assets/img/JCommerceChico.png" width="400px" height="150px" >-->
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-map-marker"></i>Lavalle 648</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>0810-222-8148</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>juan.ignacio.dominguez@istea.com.ar</a></li>
                <li><a href="http://localhost:4200/">JCommerce</a></li>

            </ul>

            <ul class="header-links pull-right">
                <li><span class="badge rounded-pill badge-notification bg-danger ms-2" *ngIf="cart.length > 0">{{cart.length}}</span><a href="http://localhost:4200/cart"><i class="fa fa-shopping-cart"></i> Carrito</a></li>
                <li><a href="http://localhost:4200/login"><i class="fa fa-user-o"></i> Ingresar</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->

            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->