<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informacion Legal</h3>
                        <p>Copyright © 2021 Jcommerce <br> El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Jcommerce. Las fotos son a modo ilustrativo.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Contacto</h3>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Lavalle 648</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>0810-222-8148</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>juan.ignacio.dominguez@istea.com.ar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

</footer>
<!-- /FOOTER -->