<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->

        <div class="row" #options>
            <!-- shop -->

            <div class="col-md-4 col-xs-6">

                <div class="shop">
                    <div class="shop-img">
                        <img src="https://images.fravega.com/f300/c5b71e73eb05f01c66ff3ecd20e85332.jpg.webp" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Televisores<br></h3>
                        <a [routerLink]='["/productos/tvs"]' onclick=" getByCategoryHome(option.value)" value="1" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://images.fravega.com/f300/ab427d006591e6e75c8d97bc64652b0a.jpg.webp" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Laptops<br></h3>
                        <a href="http://localhost:4200/productos/laptops" value="2" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://images.fravega.com/f300/71e01c52132c7a11f3e76f2af27ca91e.jpg.webp" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Celulares<br></h3>
                        <a href="http://localhost:4200/productos/celulares" value="3" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->


            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Registrese ahora para la <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Ingrese su email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Suscribirse</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->